@model WebCK.Models.Category
<body>
    <h2>Xóa thể loại</h2>
    <form asp-action="DeleteConfirmed" method="post">
        <input type="hidden" asp-for="Id" />
        <p>Bạn có muốn xóa danh mục thể loại @Model.CategoryName không?</p>
        <button type="submit" class="btn btn-danger">Xóa</button>
        <button asp-action="Index" class="btn btn-close">Hủy</button>
    </form>
</body>