@model WebCK.Models.Category
<body>
    <h2>@Model.CategoryName</h2>
    @* <div>
        <h3>Số phòng cùng thể loại</h3>
        <p>@Model.Description</p>
        @if (!string.IsNullOrEmpty(Model.Image))
        {
            <img src="@Model.Image" style="max-width:200px;" />
        }
    </div> *@
    <a asp-action="Index">Back to List</a>
</body>