@model IEnumerable<WebCK.Models.Category>
<body>
    <section class="room-area r-padding1">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8">
                    <!--font-back-tittle  -->
                    <div class="font-back-tittle mb-45">
                        <div class="archivment-front">
                            <h3>Category</h3>
                        </div>
                        <h3 class="archivment-back">Our Rooms</h3>
                    </div>
                    <div><a asp-action="Add" class="btn btn-primary">Thêm phòng</a></div>
                </div>
            </div>
            <div class="row justify-content-center">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var category in Model)
                        {
                            <tr>
                                <td>@category.CategoryName</td>
                                <td>
                                    <a asp-action="Display" asp-route-id="@category.Id">View</a> |
                                    <a asp-action="Update" asp-route-id="@category.Id">Edit</a> |
                                    <a asp-action="Delete" asp-route-id="@category.Id">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="row justify-content-center">
                <div class="room-btn pt-70">
                    <a href="#" class="btn view-btn1">View more  <i class="ti-angle-right"></i> </a>
                </div>
            </div>
        </div>

    </section>
</body>