@model IEnumerable<WebCK.Models.Category>
<link rel="stylesheet" href="https://cdn.datatables.net/2.0.7/css/dataTables.dataTables.css" />
<script src="https://cdn.datatables.net/2.0.7/js/dataTables.js"></script>
<body>
    <a asp-controller="Category" asp-action="Add" class="btn btn-primary">Thêm thể loại</a>
    <div class="container">
        <table id="bangtheloai" class="display">
            <thead style="background-color: gray; color: white">
                <tr>
                    <th>Tên thể loại</th>
                    <th>Ngày tạo</th>
                    <th>Chức năng</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                    <tr>
                        <td>@obj.CategoryName</td>
                        <td>@obj.CreatedDate</td>
                        <td>
                            <a asp-action="Update" asp-route-id="@obj.Id">Edit</a> |
                            <a asp-action="Delete" asp-route-id="@obj.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/2.0.7/css/dataTables.dataTables.css" />

<script src="https://cdn.datatables.net/2.0.7/js/dataTables.js"></script>


<script type="text/javascript">
    var js = jQuery.noConflict(true);
    js(document).ready(function () {
        js('#bangtheloai').DataTable();
    });
</script>