@model WebCK.Models.Room
<body>
    <h2>@Model.RoomNumber</h2>
    <div>
        <h3>Price: @Model.Price</h3>
        <p>@Model.Description</p>
        @if (!string.IsNullOrEmpty(Model.Image))
        {
            <img src="@Model.Image" style="max-width:200px;" />
        }
    </div>
    <a asp-action="Index">Back to List</a>
</body>